# fly.toml app configuration file generated for backend-snowy-night-3119 on 2025-12-16T09:57:53+13:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-snowy-night-3119'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 4
  memory_mb = 2048
